{% extends "base.html" %}
{% load staticfiles %}
{% block head %}
    <title>Albumy</title>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 grey-layer">
        {% if del == True %}
            <a href="./delete" class="btn btn-default" type="button">
                <i class="glyphicon glyphicon-wrench icon-user icon-white"></i> Usuń
            </a>
        {% endif %}
            <form method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-xs-12">
                        <h1>
                            {{ form.title }}
                            <small>{{ form.description }}</small>
                            {% if user.is_authenticated %}
                                <button type="submit" class="btn btn-default">
                                    <i class="glyphicon glyphicon-wrench icon-user icon-white"></i> Zapisz
                                </button>
                            {% endif %}
                        </h1>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}