{% extends "base.html" %}
{% load staticfiles %}
{% load custom_tag %}
{% block head %}
    <title>Rejestracja</title>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3 grey-layer">
            <div class="row">
                <h1>Zarejestruj się!
                    <small>To nic nie kosztuje.</small>
                </h1>
                <hr>
            </div>
            <form id="register-form" action="" role="form" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            {{ form.first_name|att:"placeholder:Imię;required:true;tabindex:1;class:form-control input-lg" }}
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            {{ form.last_name|att:"placeholder:Nazwisko;required:true;tabindex:2;class:form-control input-lg" }}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    {{ form.username|att:"placeholder:Login;required:true;tabindex:3;class:form-control input-lg" }}
                </div>
                <div class="form-group">
                    {{ form.email|att:"placeholder:Adres email;required:true;tabindex:4;class:form-control input-lg" }}
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            {{ form.password1|att:"placeholder:Hasło;required:true;tabindex:5;class:form-control input-lg" }}
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            {{ form.password2|att:"placeholder:Potwierdź hasło;required:true;tabindex:6;class:form-control input-lg" }}
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="pass-are-different">
                            Podane hasła różnią się!
                        </div>
                    </div>
                </div>
                <div class="row register-footer ">
                    Klikając <strong class="label label-primary">Rejestruj</strong> akceptujesz regulamin oraz
                    politykę prywatności
                </div>
                <div class="row">
                    <hr>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6  col-md-6">
                        <input type="submit" value="Rejestruj" class="btn btn-primary btn-block btn-lg">
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <a href="/site/log_in" class="btn btn-success btn-block btn-lg">Zaloguj</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static "Scripts/registration-validate.js" %}"></script>
{% endblock %}