.panel-footer {
    padding: 1px 15px;
    color: #A0A0A0;
}

.register-footer {
    padding-left: 18px;
    text-align: center;
}

.incorrect-password {
    border-color: red;
    border-width: 2px;
}

.correct-password {
    border-color: limegreen;
    border-width: 2px;
}

.pass-are-different {
    color: red;
    padding: 3px;
    padding-top: 0;
    font-weight: bold;
    visibility: hidden;
    text-align: center;
}

.body-image {
    background-image: url('../Images/Lake.jpg');
    background-size: 1920px 1080px;
}

.grey-layer{
    padding: 10px 40px 20px 40px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
}

.top-margin{
    margin-top: 75px;
}
.login-nav {
    margin-right: -10px;
}
